<h1>Editing Book</h1>
<%= form_for(@post) do |f| %>
	<label for="post_title"> Title</label>
	<span><%= f.text_field :title, class:"book_title" %></span>
	<label for="post_body"> Body</label>
	<span><%= f.text_area :body, class:"book_body" %></span>
	<span><%= f.submit 'Update Book' %></span>
<% end %>

<%= link_to "Show", post_path(@post.id), class:"show_#{@post.id}" %>
|
<%= link_to "Back", posts_path, class:"back" %>